<%= form_for @question do |f| %>
<% if @question.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@question.errors.count, "error") %>
      prohibited this question from being saved
    </h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.text_field :username , placeholder: "username"%>
  </p>
  <p>
    <%= f.text_field :title, class: "question-title" , placeholder: "what's your question"%>
  </p>
  <p>
    <%= f.text_area :description, class: "question-description", placeholder: "explain what isn't working"%>
  </p>
    <%= f.submit %>
  </p>
<% end %>

