<!DOCTYPE html>
<html>
<head>
  <title>DBC Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <%= link_to '/' do %>
  <h1>DBC Overflow</h1>
  <% end %>
  <p class="zen-quote">
    <%= @response %>
  </p>

    <%= yield %>
  </div>

</body>
</html>
